.heading {
    font-size: 15;
    margin: 0px;
    width: 100%;
    box-shadow: darkorange;
}

.copyright_footer {
    position:fixed;
    bottom:0;
    width:100%;
    text-align: center;
    background-color: greenyellow;
    color: midnightblue;
    font-size: 18px;
}

canvas{
    border: 5px solid red;
    animation:Changingcolours 2.5s infinite;
}

@keyframes Changingcolours {
    from{box-shadow:5px 5px 10px green};
    to{box-shadow:5px 5px 10px firebrick};
}